* {
    box-sizing: border-box;
    outline: none;
    border: none;
}

html, body {
    min-width: 100%;
}

html {
    box-sizing: border-box
}

body {
    font-weight: 400;
    background-color: #f7f7f7;
    font: 12px/120% "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

a {
    text-decoration: none;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes autofill {
    to {
        background-clip: padding-box;
        background-image: none !important;
        background-color: #fff;
        color: #495057;
    }
}

.container {
    margin: 1rem auto;
    width: 80%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #FFF;
    padding: 1rem 2.5rem;
}

/*.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}*/
.hide {
    visibility: hidden;
    opacity: 0;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.row-col-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .5rem;
}

.form-input {
    width: 100%;
    display: inline-block;
    padding: .75rem;
    font-size: 1rem;
    margin: 0.25rem 0 1rem 0;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.15rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:focus, .form-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-container input.invalid {
    border-left: 5px solid red;
}

.form-container {
    margin: 0 auto;
    width: 50%;
}

.form-container.signin {
    width: 40%;
}

.form-login-header {
    margin: 0 0 1.5rem;
}

.form-login-header .logo {
    width: auto;
    height: 50px;
}

.form-title {
    color: #51ABDB;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 1rem 0 1.5rem;
}

.form-footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: .75rem;
    margin-top: .5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.entry-table {
    min-height: 400px;
    margin-top: 30px;
    box-sizing: border-box;
}

.entry-table table tr {
    background-color: #fff;
    border: 1px #e5e5e5 solid;
}

.entry-table table tbody tr:hover {
    background-color: rgba(11, 185, 169, 0.05);
}

.entry-table table thead tr.header-filter td {
    font-size: 14px;
    line-height: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #0e0e0f;
}

.entry-table table td:first-child {
    padding-left: 20px;
}

.entry-table table td:last-child {
    /* padding-right: 20px;*/
}

.entry-table table thead td {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
    line-height: 33px;
    padding-top: 0;
    padding-bottom: 0;
}

.entry-table table td {
    padding: 15px 15px 15px 0;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.entry-table table td .v-center {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.entry-table table tbody tr td {
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
}

.entry-table table tbody tr td .content {
    max-width: 450px;
    display: block;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 16px;
}

.content-width {
    max-width: 600px;
}

.custom-checkbox {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox:hover input ~ .check-mark {
    background-color: #e5e5e5;
}

.custom-checkbox input ~ .check-mark {
    background-color: #fff;
    border: 1px #e5e5e5 solid;
}

.custom-checkbox input:checked ~ .check-mark {
    background-color: #2196F3;
    border: none;
}

.custom-checkbox input:checked ~ .check-mark:after {
    visibility: visible;
    opacity: 1;
}

.custom-checkbox .check-mark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    transition: background-color 0.1s ease-in;
}

.check-mark:after {
    content: "";
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

/***************************/
.dropdown {
    position: relative;
}

.dropdown-toggle {
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    font: 400 12px helvetica neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-align: left;
    border: 1px #e5e5e5 solid;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;
    color: #ffffff;
    padding: 8px 17px 21px 10px;
    user-select: none;
}

.dropdown-toggle:hover:after {
    border-top-color: #c5c5c5;

}

.dropdown-toggle:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border: 6px solid transparent;
    border-top-color: #eee;
}

.dropdown-menu {
    background-color: #fff;
    background-clip: padding-box;
    position: absolute;
    top: -2px;
    left: -15px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    border: 1px #ccc solid;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.dropdown-menu li > a {
    font: 400 12px helvetica neue, Helvetica, Arial, sans-serif;
    color: #777;
    text-transform: uppercase;
    display: block;
    padding: 6px 10px;
    clear: both;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    -webkit-transition: none;
    transition: none;
}

.dropdown-menu li > a:hover {
    color: #00b22d;
}

.dropdown-menu.open {
    display: block;
}

/** Modal **/
.modal {
    display: none;
    position: fixed;
    z-index: 1500;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 0 auto;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    outline: none;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 504px;
    z-index: 501;
    -webkit-animation-name: animate-top;
    -webkit-animation-duration: 0.4s;
    animation-name: animate-top;
    animation-duration: 0.4s;
}

.modal-content.sm {
    display: block;
    width: 420px;
}

.modal-content.md {
    display: block;
    width: 504px;
}

.modal-content.lg {
    display: block;
    width: 750px;
}

/* Modal Head Section*/
.modal-header {
    align-items: center;
    background: none;
    box-shadow: none;
    display: flex;
    padding: 24px 24px 16px;
    color: #000;
    cursor: default;
    line-height: 24px;
    margin: 0 0 16px;
    font: bold 100% arial, sans-serif;
}

.modal-header-title {
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #212121;
    line-height: 24px;
    padding: 0;
}

.modal-header-title {
    padding-right: 20px;
}

.modal-header > .close-btn {
    height: 20px;
    opacity: .54;
    width: 20px;
    cursor: pointer;
    margin: 16px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-header > .close-btn.close {
    background: url("../images/ic-close.png") no-repeat center;
    background-size: 20px;
}

.modal-header > .close-btn:hover {
    opacity: .7;
}

.modal-header > .close-btn::before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: -1;
    bottom: -10px;
    left: -10px;
    right: -10px;
    top: -10px;
    background: none;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0);
    transition-property: transform, opacity;
}

.modal-header > .close-btn:active::before,
.modal-header > .close-btn:focus::before {
    background-color: rgba(32, 33, 36, 0.059);
    border: 1px solid #ccc;
    opacity: 1;
    transform: scale(1);
}

.modal-header > .close-btn:hover::before {
    background-color: rgba(32, 33, 36, 0.059);
    opacity: .8;
    transform: scale(1);
}

/* Modal body Section*/

.modal-body {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: .2px;
    background: none;
    color: #5f6368;
    padding: 0 24px;
    line-height: 20px;
    word-wrap: break-word;
    font-family: normal Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

/* Modal Foot Section*/
.modal-footer {
    box-shadow: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 24px;
    margin: 0;
}

.modal-footer > button {
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .15px;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #5f6368;
    cursor: pointer;
    font-weight: 500;
    height: 36px;
    min-width: 80px;
    padding: 0 16px;
    margin: 0 0 0 8px;
}

.modal-footer > button:not(:disabled)::before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #202124;
    border-radius: 4px;
    transform: scale(0);
    transition-property: transform, opacity
}

.modal-footer > button:hover,
.modal-footer > button:active {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #5f6368
}

.modal-footer > button:focus {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.modal-footer > button:hover::before {
    opacity: .06;
    transform: scale(1)
}

.modal-footer > button:focus::before,
.modal-footer > button:active::before {
    opacity: .12;
    transform: scale(1)
}

.modal-footer > button.btn-ok {
    background-color: #1a73e8;
    color: #fff;
    margin: 0 0 0 8px
}

.modal-footer > button.btn-ok::before {
    background: #fff;
}

.modal-footer > button.btn-ok:not(:disabled):active {
    box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 2px 6px 2px rgba(26, 115, 232, 0.302);
    background-color: #1a73e8;
    border: none
}

.modal-footer > button.btn-ok:not(:disabled):hover {
    box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 3px 1px rgba(26, 115, 232, 0.302);
    background-color: #297be6;
    border: none
}

.modal-footer > button.btn-ok:not(:disabled):focus {
    box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.302), 0 1px 3px 1px rgba(26, 115, 232, 0.149);
    background-color: #5094ed;
    border: none
}

.modal-footer > button.btn-ok:active::before,
.modal-footer > button.btn-ok:focus::before {
    opacity: .12;
    transform: scale(1)
}

.modal-footer > button.btn-ok:hover::before {
    opacity: .06;
    transform: scale(1)
}

.modal-footer > button:disabled {
    color: rgba(60, 64, 67, 0.38);
    cursor: default;

    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff none;
    /*border: 1px solid #f3f3f3;*/
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #b8b8b8
}

.modal-footer > button.btn-ok:disabled {
    background-color: #f1f3f4;
    box-shadow: none;
    color: rgba(60, 64, 67, 0.38);
    cursor: default
}

.action-btn-container {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
}

.action-btn-container > .action-btn {
    margin-left: 15px;
}

.action-btn {
    height: 20px;
    opacity: .54;
    width: 20px;
    cursor: pointer;
    margin: 16px;
    outline: none;
    padding: 0;
    position: relative;
    display: inline-block;
}

.action-btn::before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    bottom: -10px;
    left: -10px;
    right: -10px;
    top: -10px;
    background: none;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0);
    transition-property: transform, opacity;
}

.action-btn:active::before,
.action-btn:focus::before {
    background-color: rgba(32, 33, 36, 0.059);
    border: 1px solid #ccc;
    opacity: 1;
    transform: scale(1);
}

.action-btn:hover::before {
    background-color: rgba(32, 33, 36, 0.059);
    opacity: .8;
    transform: scale(1);
}

.add {
    background: url("../images/ic-plus.png") no-repeat center;
    background-size: 14px;
    /*background: url("../images/ic-close.png") no-repeat center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);*/
}

.delete {
    background: url("../images/ic_delete.svg") no-repeat center;
    background-size: 14px;

}

.m-0 {
    margin: 0;
}

.modal-footer > button.btn-save {
    background-color: #4CAF50;
    color: #fff;
    margin: 0 0 0 8px
}

.modal-footer > button.btn-save::before {
    background: #fff;
}

.modal-footer > button.btn-save:not(:disabled):active {
    box-shadow: 0 1px 2px 0 rgba(76, 175, 80, 0.451), 0 2px 6px 2px rgba(76, 175, 80, 0.302);
    background-color: #4CAF50;
    border: none
}

.modal-footer > button.btn-save:not(:disabled):hover {
    box-shadow: 0 1px 2px 0 rgba(76, 175, 80, 0.451), 0 2px 6px 2px rgba(76, 175, 80, 0.302);
    background-color: #34BF70;
    border: none
}

.modal-footer > button.btn-save:not(:disabled):focus {
    box-shadow: 0 1px 2px 0 rgba(76, 175, 80, 0.451), 0 2px 6px 2px rgba(76, 175, 80, 0.302);
    background-color: #2abf06;
    border: none
}

.modal-footer > button.btn-save:active::before,
.modal-footer > button.btn-save:focus::before {
    opacity: .12;
    transform: scale(1)
}

.modal-footer > button.btn-save:hover::before {
    opacity: .06;
    transform: scale(1)
}

.create-entry textarea {
    width: 100%;
    overflow: visible;
    color: #222;
    font-family: Courier, monospace;
    font-weight: normal;
    resize: none;
    word-wrap: break-word;
    line-height: 20px;
}

.create-entry textarea::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

.create-entry textarea::-webkit-scrollbar-track {
    background: white;
}

.create-entry textarea::-webkit-scrollbar-thumb {
    background: #ddd;
    visibility: hidden;
}

.create-entry textarea:focus::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.create-entry textarea:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.alert {
    align-items: center;
    box-shadow: none;
    display: none;
    padding: 0.01em 16px;
    color: #000;
    cursor: default;
    line-height: 24px;
    margin-bottom: .75rem;
    position: relative;
}

.alert.success {
    color: #fff !important;
    background-color: rgba(76, 175, 80, 0.8) !important;
}

.alert.error {
    color: #fff !important;
    background-color: rgba(244, 67, 54, 0.8) !important;
}

.alert-msg {
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    padding: 0;
}

.alert > .close-btn {
    cursor: pointer;
    outline: none;
    padding: 8px 16px;
    position: absolute;
    font-size: 1.2rem;
    color: #fff;
    right: 0;
    top: 0;
}

/*Loading*/
.loading-container {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    color: #5f6368;
    background: rgba(0, 0, 0, 0.47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loading-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loading-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}